

.loading_dots {
    

    .circle-line {
        z-index: 600;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .circle-red,
        .circle-green,
        .circle-yellow,
        .circle-blue{
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            margin: 5px;
        }

        .circle-red {
            background-color: #EA4335;
            animation: movingUp 0.5s infinite alternate;
        
        }
        
        .circle-blue {
            background-color: #4285f4;
            animation: movingUp 0.5s 0.2s infinite alternate;
        
        }
        
        .circle-green {
            background-color: #34A853;
            animation: movingUp 0.5s .5s infinite alternate;
            
        
        }
        
        .circle-yellow {
            background-color: #FBBC05;
            animation: movingUp 0.5s .7s infinite alternate;
            
        }  


    }

}

@keyframes movingUp {
    from {
    
        top: 0px;
        
    }

    to {
        
        top: -30px;
    }
}


