.heroSlider {
    background: url("../slider/hero-image-home.jpg") no-repeat center top;
    background-color: #817e7e;
    height: 100vh;
    background-size: cover;
    position: relative;


    @media only screen and (max-width: 768px) { 
      background: url("../slider/hero-image-home-md.jpg") no-repeat center top;
    
  }
  

    h1 {
        font-size: 4.5rem;
        max-width: 800px;
        margin: auto;
        text-align: center;
        font-weight: 800;
        text-shadow:  rgba(0, 0, 0, 0.16) 0px 4px 16px;

        @media only screen and (max-width: 768px) { 
            //font-size: 2.5rem;
            font-size: 3rem;
        }
    }

    

    .updown {
        text-align: center;
        display: inline-block;
        font-size: 2rem;       
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 2px #e8e7e6;
        
        svg {
            animation: updown 1s ease infinite;

        }
        
    }

 

    @keyframes updown {
        0% {
          transform: translateY(-10%);
        }
      
        10% {
          transform: translateY(10%);
        }
      
        10% {
          transform: translateY(-10%);
        }
      }
    
}



