
//showing menu items on hover
.hoverMenu {





.hoverContent {

    position: absolute;
    display: none;
    background-color: #ffffff;
    padding: 4px 0;
    min-width: 200px;
    z-index: 1;
    border-radius: 4px;
    border-top: solid 2px $se-base;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 992px) { 
        background-color: transparent;
        min-width: inherit;
        border-radius: 0;
        position: relative;
        border-top: none;
        box-shadow: none;

    }


    ul {
        margin: 4px 0;
        padding: 0;

        @media only screen and (max-width: 992px) { 
            margin-left: 0px;
            margin: 0 0 1rem 0;

        }

        li {

            list-style-type: none;
            margin: 0 10px;

            a {
               
                color: $pr-base;
                text-decoration: none;
                font-size: 1rem;
                display: block;
                padding: 4px;
                font-weight: 400;

                @media only screen and (max-width: 992px) { 
                    color: $light-base;            

                    &:before {
                        font-family: "Font Awesome 5 Free";
                        content: "\f105";
                        font-weight: 900;             
                        color:#a49c9c;
                        font-size: 70%;
                        margin-right: 4px;

                    }


                    
                }

                &:hover {
                color: $se-base; 
                background-color: transparent; 

                }

            }
        }

    }

}










    &:hover,
    &:focus {

        .hoverContent {
            display: block;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        }




         .hoverItem { 

            svg {
                transform: rotateZ(180deg)!important;
                transition:0.2s all ease-in-out;

                @media only screen and (max-width: 992px) { 
                        position: absolute;
                        right: 0px;

                }

            }
         }

    }


}






