@import "~bootstrap/scss/bootstrap"; 
@import "./assets/style/theme_var";  
@import "./assets/style/theme_fonts";
@import "./assets/style/theme_animations";
@import "./assets/style/theme_loader";
@import "./assets/style/theme_header";
@import "./assets/style/theme_navbar";
@import "./assets/style/theme_hoverMenu";
@import "./assets/style/theme_sidebar_category";
@import "./assets/style/theme_searchbar";
@import "./assets//style/theme_hero_slider";
@import "./assets//style/theme_visa.scss";
@import "./assets//style/theme_destination";
@import "./assets//style/theme_newsletter";
@import "./assets/style/theme_footer";
@import "./assets/style/theme_productDetails";








 








